.fundo{
    background-color: aquamarine;
    width: 100%;
    align-content: center;
}

.medico{
    width: 50%;
    float: left;
    text-align: center;
    background-color: #99CC99;
    height: 50vh;
}

.paciente{
    width: 50%;
    float: right;
    text-align: center;
    background-color: #99CC99;
    height: 50vh;
    border-left:3px solid black;
}

.medico2{
    width: 50%;
    float: left;
    text-align: center;
    background-color: #99CC99;
    height: 50vh;
}

.paciente2{
    width: 50%;
    float: right;
    text-align: center;
    background-color: #99CC99;
    height: 50vh;
    border-left:3px solid black;
}

.listaUl{
    list-style-type: none;
}