.tableMedico td, table th{
    border: 1px solid black;
    padding: 3px 3px 3px 3px;
}

.tablePaciente td, table th{
    border: 1px solid black;
    padding: 3px 3px 3px 3px;
}

.fundo{
    width: 100%;
}

.fundo h1{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 4%;
}

.medico{
    float: right;
    margin-right: 18%;
}

.paciente{
    margin-left: 18%;
}

.medico2{
    float: right;
    margin-right: 18%;
    margin-top: 13%
}

.paciente2{
    margin-left: 18%;
    margin-top: 13%;
}

.medico2 input{
    border: 2px solid #aaaaaa;
    border-radius: 4px;
    margin:8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

.medico2 input:focus{
    border-color: #99CC99;
    box-shadow: 0 0 8px 0 #99CC99;
}

.paciente2 input{
    border: 2px solid #aaaaaa;
    border-radius: 4px;
    margin:8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    margin-right: 7px;
}

.paciente2 input:focus{
    border-color: #99CC99;
    box-shadow: 0 0 8px 0 #99CC99;
}

.medico2 button{
color: white ;
text-transform: uppercase;
background: #aaaaaa;
padding: 10px;
border: 2px solid #aaaaaa ;
border-radius: 6px;
display: inline-block;
width: 60%;
}

.medico2 button:hover{
    color: black ;
background: #99CC99;
border:2px solid #99CC99;
transition: all 0.4s ease 0s;
}

.cadastrarMedico{
    text-align: center;
}

.paciente2 button{
    color: white ;
    text-transform: uppercase;
    background: #aaaaaa;
    padding: 10px;
    border: 2px solid #aaaaaa ;
    border-radius: 6px;
    display: inline-block;
    width: 10%;
    }
    
    .paciente2 button:hover{
        color: black ;
    background: #99CC99;
    border:2px solid #99CC99;
    transition: all 0.4s ease 0s;
    }

.delMedico{
    margin-left: 10%;
    background-color: red;
    border: 0px solid red;
    width: 15px;
}

.delPaciente{
    background-color: red;
    border: 0px solid red;
    width: 15px;
}